.main{
    background: url("../../images/slide-01.jpg");
    height: 100vh;
}

.main-text{
    font-family: 'PT Sans Narrow', sans-serif;
}
.main-text button{
    font-weight: 400;
}
button, span{
    transition: all 0.5s ease;
}

button:hover{
    box-shadow: 5px 5px 4px rgb(35, 35, 87);
    transform: scale(1.05)
}

