@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.App {
  margin: 0 auto;
}

.sticky {
  position: fixed;
  background: rgba(0, 0, 0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
}